.DS_Store
.dep/
*build-*
*~
debug.txt
.ycm_extra_conf.pyc
.ropeproject
main\.sym
*.sym
*.lss
*.lst
*.elf
*.hex
*.map
*.o
**/.ipynb_checkpoints/
*.d
*.eep
*.a
*.log



docs/
build-tmp/
bin/*/
*.c.*
default
.wercker/
